
.input
{
  background: #FFFFFF;
  width: 80%;
  padding: 14px;
  border-radius: 4px;
  border: 0;
  color: #3E3E3E;
}
.form-group{
    width:400px;
    margin : 10% auto;
    border:2px solid #D9D9D9;
    background-color: #FAFAFA;
    height:350px;
    text-align:center;
}
.emailNotConfirmed{
  vertical-align: middle;
  margin:10% auto;
  width:400px;
  border:2px solid #D9D9D9;
  border:2px solid #D9D9D9;
  background-color: #FAFAFA;
  height:200px;
  text-align:center;
}
